/* Global properties */

html,
body {
    background-color: #fff7e4;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: auto;
    max-width: 98%;
    height: 96%;
    text-align: center;
}

textarea {
    background: black;
    color: lime;
    border: solid transparent;
    border-radius: 10px;
    padding: 5px;
}

input[type=button] {
    background: rgb(240, 240, 240);
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 10px;
    margin: 2px 5px;
    border: solid;
    border-radius: 10px;
}

input[type=file] {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1em;
    padding: 5px 10px;
    margin: 2px 5px;
    border: solid;
    border-radius: 10px;
}

input[type=button]:hover {
    background: lightgray !important;
}

input[type=button]:active {
    background: silver !important;
}

/* Contextual properties */

#haze {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

#alert {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    padding: 20px;
    background: goldenrod;
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    z-index: 3;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.closebutton {
    margin-left: 20px;
    color: black;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 20px;
    float: right;
    cursor: pointer;
    transition: 0.3s;
}

.closebutton:hover {
    color: white;
}

#running {
    font-size: 1.5em;
    font-style: italic;
    font-weight: bold;
    margin: 10px;
}

.options {
    display: none;
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background: lightblue;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.help {
    display: none;
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1vw;
    background: lightblue;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-radius: 10px;
    width: 70%;
    max-height: 100%;
    transform: translate(-50%, -50%);
}

.input-box {
    display: none;
    color: black;
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    background: lightgreen;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 2;
    border-radius: 10px;
    transform: translate(-50%, -50%);
}

.input-box>input[type=text] {
    border: solid transparent;
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
    width: 300px;
}

.input-box>input[type=button] {
    font-size: 1em;
    float: right;
    margin: 10px 0px 0px 0px;
}

.app-container {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
    width: 100%;
    align-items: auto;
    align-content: start;
}

.app-container>* {
    padding: 5px;
    flex: 1 100%;
}

.header {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2vw;
    font-weight: bold;
}

.footer {
    background: darkolivegreen;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 90%;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.3% 2% 0.3% 2%;
    width: 96%;
}

.pane-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    align-content: start;
    height: 70%;
    border-bottom: 5px solid black;
}

.io-cont-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: auto;
    align-content: start;
    height: 100%
}



.io-cont-container>textarea {
    height: 50%;
    resize: none;
    font-weight: bold;
}

.pane {
    flex: 1 0 auto;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.pane>textarea {
    height: 100%;
    resize: none;
    font-weight: bold;
}

.controls-container {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 3;
    justify-content: left;
    align-items: auto;
    align-content: start;
    margin: auto;
    min-height: 10%;
    max-height: 23%;
    max-width: 99%;
    padding: 10px;
}

.control {
    flex: 0 1 auto;
    display: flex;
    flex-flow: row wrap;
    min-height: 100%;
    margin: 0px 10px 0px 0px;
}

.control>textarea {
    box-sizing: border-box;
    min-height: 100%;
    max-height: 100%;
    min-width: 100%;
    font-weight: bold;

}

#up-btn {
    background: rgb(240, 240, 240);
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 1.5em;
    padding: 5px 10px;
    margin: 2px 5px;
    border: solid;
    border-radius: 10px;
    height: 1.6em;
}

#up-btn:hover {
    background: lightgray !important;
}

#up-btn:active {
    background: silver !important;
}

#resetall:hover {
    background: lightpink !important;
}

#resetall:active {
    background: lightcoral !important;
}

#run:hover,
#step:hover {
    background: palegreen !important;
}

#run:active,
#step:active {
    background: springgreen !important;
}