body {
    background-color: #fff7e4;
    color: black;
    font-family: sans-serif;
    margin: auto;
    width: 1200px;
    max-width: 95%;
    border: 2px groove;
    padding: 10px;
    text-align: center;
}